body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vh;
    font-family: "Source Sans Pro", sans-serif;
}

.space {
    margin: 2rem;
}

/* Header */

header {
    background: linear-gradient(to right,rgb(3, 64, 58), rgba(1, 121, 111, 1),rgb(3, 64, 58));
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0 0 0 2rem;
}

.logo-img {
    width: 4rem;
    height: 4rem;
    border-radius: 3.1rem;
    margin-right: 1rem;
}

.logo-title {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    padding: 0 6.5rem 0 0;
}

nav ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
        color: black;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }

    .logo-container {
        padding: 0 7.5rem 0 0;

    }
}

/* Home */

.home {
    position: relative;
    background: url(Pattern.png);
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-title {
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .home-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .home-title {
        font-size: 2rem;
    }
}
@media (max-width: 480px) {
    .home-title {
        font-size: 1.5rem;
    }
}

.home-p {
    margin: 4rem;
    padding: 0 6rem 0 6rem;
    font-size: 1.5rem;
}

.project-button {
    font-size: 1.5rem;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    background: #01796f;
    border: none;
    color: white;
    font-weight: 700;
    box-shadow: 0 10px 100px rgba(0,0,0,0.2);
    text-decoration: none;
    &:hover {
        box-shadow: 0 10px 25px rgba(1, 121, 111, 1);
    }
}

.home-socials {
    position: absolute;
    background-color: white;
    border-radius: 0 1rem 1rem 0;
    padding: 1.2rem;
    top: 50%;
    left: 0.1rem;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    transform: translateY(-50%);
}

.home-social-icon {
    width: 30px;  
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.home-social-icon:hover {
    background: linear-gradient(to right,rgb(3, 64, 58), rgba(1, 121, 111, 1),rgb(3, 64, 58));
}

/* Section */

.section {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8));
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* About */

.about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 6rem;
    width: 100%;
    text-align: center;
}

.about-title::after {
    content: '';
    display: block;
    width: 2rem;
    border-radius: 10rem;
    height: 0.2rem;
    background: linear-gradient(to right,rgb(3, 64, 58), rgba(1, 121, 111, 1),rgb(3, 64, 58));
    margin: 1rem auto 0;
}

.about-infos {
    margin: 2rem 15rem 2rem 15rem;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: #111;
    display: flex;
}

.about-presentation-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 0 8rem;
    box-sizing: border-box;
}

.about-presentation-infos {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 6rem 0 0;
}

.about-presentation-skills {
    display: flex;
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
}

.little-title-infos {
    display: flex;
    font-size: 1.25rem;
}

.little-text-infos {
    display: flex;
    font-size: 1.25rem;
}

.about-button {
    display: flex;
    margin: 2rem 20rem 2rem 0rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background: #01796f;
    border: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
    &:hover {
        box-shadow: 0 10px 25px rgba(1, 121, 111, 1);
    }
}

.little-title-skills {
    display: flex;
    font-size: 1.25rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills-skill {
    margin: 0 1rem 1rem 0;
    padding: 0.8rem;
    border-radius: 0.2rem;
    background: rgba(153,153,153,.2);
    color: black;
    font-weight: bold;
}

/* Projets */

.projects {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8));
    height:80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projects-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 6rem;
    width: 100%;
    text-align: center;
}

.projects-title::after {
    content: '';
    display: block;
    width: 2rem;
    border-radius: 10rem;
    height: 0.2rem;
    background: linear-gradient(to right,rgb(3, 64, 58), rgba(1, 121, 111, 1),rgb(3, 64, 58));
    margin: 1rem auto 0;
}

.projects-infos {
    margin: 1.5rem 20rem;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111
}

.projects-presentation-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 0 8rem;
    box-sizing: border-box;
}

.projects-presentation-pic {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 6rem 0 0;
    background: url(bus_stop.png);
    background: center  ;
}

.projects-presentation-text {
    display: flex;
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
}

.little-title-infos {
    display: flex;
    font-size: 1.25rem;
}

.little-text-infos {
    display: flex;
    font-size: 1.25rem;
}

.projects-button {
    display: flex;
    margin: 2rem 2rem 2rem 0rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background: #01796f;
    border: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
    &:hover {
        box-shadow: 0 10px 25px rgba(1, 121, 111, 1);
    }
}

.little-title-skills {
    display: flex;
    font-size: 1.25rem;
}

.img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    box-shadow: 0 10px 100px rgba(0,0,0,0.2);
    object-position: center;
    border-radius: 0.5rem;
}

/* Contact */

.contact-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 6rem;
    width: 100%;
    text-align: center;
}

.contact-title::after {
    content: '';
    display: block;
    width: 2rem;
    border-radius: 10rem;
    height: 0.2rem;
    background: linear-gradient(to right,rgb(3, 64, 58), rgba(1, 121, 111, 1),rgb(3, 64, 58));
    margin: 1rem auto 0;
}

.contact-infos {
    margin: 2rem 15rem 2rem 15rem;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111
}

.contact-form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact-form-label {
    color: #666;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
    padding: 1rem;
}

.contact-form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid white;
    font-size: 1.1rem;
    background: #f0f0f0;
    border-radius: 1rem;
    font-weight: bold;
}

.contact-form-input:focus {
    border-color: #01796f;
    outline: none;
}


.about-button {
    display: flex;
    margin: 2rem 20rem 2rem 0rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background: #01796f;
    border: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
    margin-left: auto;
    &:hover {
        box-shadow: 0 10px 25px rgba(1, 121, 111, 1);
    }
}

/* Footer */

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-social-linkedin,
.footer-social-github {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px;
    display: flex; 
    align-items: center;
    &:hover {
        color: #01796f;
    }
}

.footer-social-icon {
    background-color: white;
    margin-right: 0.5rem;
    width: 1.1rem; 
    height: 1.1rem; 
}


footer {
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-social-linkedin {
    color: white;
}

.footer-social-github {
    color: white;
}

footer h1 {
    color: #fff;
    text-align: center;
}

.Copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 1.8rem;
    color: #777;
}

/* Responsive */

@media (max-width: 768px) {
    .about-infos {
        margin: 2rem 12rem;
    }

    .projects-infos {
        margin: 2rem 12rem 4rem 12rem;
    }

    .contact-infos {
        margin: 2rem 12rem 2rem 12rem;
    }
}